/* for views/dashboard.php */
.dashboard-icon {
    font-size: 3.5em;
}

/* for views/dashboard.php */
.dashboard-photo {
    width: 3em;
    height: 3em;
    object-fit: cover;}


/* for views/edit-user.php */
.edit-icon {
    font-size: 7em;   
}

.edit-icon {
    font-size: 7em;
}

.edit-photo {
    width: 7em;
    height: 7em;
    object-fit: cover;
}